<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h2>Submitted Information</h2>
        Name: <%= result.name %></br>
        Dojo Location: <%= result.location %></br>
        Favorite Language: <%= result.language %></br>
        Comment: <%= result.comment %></br>
    </body>
</html>