<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
  <script src="~/js/main.js"></script>
  <link rel="stylesheet" href="~/css/main.css">
    <title>Dojodachi!</title>
</head>
<body>
    <main>
        <img src="~/img/pancake.jpg" alt="dojodachi">
        <p id="message"></p>
    </main>
    <div class="stats">
        Fullness: <span id="fullness">X</span>
        Happiness: <span id="happiness">X</span>
        Meals: <span id="meals">X</span>
        Energy: <span id="energy">X</span>
    </div>
    <div class="options">
        <button id="feed" class="btn-playing">Feed</button>
        <button id="play" class="btn-playing">Play</button>
        <button id="work" class="btn-playing">Work</button>
        <button id="sleep" class="btn-playing">Sleep</button>
        <button id="reset" class="btn-done">Restart?</button>
    </div>
</body>
</html>