<!DOCTYPE html>
<html lang="en">
    <head>
        <title>One rabbit</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
    <% if (rabbit) { %>
        <p>Name: <%= rabbit.name %>, Color: <%= rabbit.color %></p>
        <img src="<%= rabbit.pic %>" alt="" style="width: 200px;">
    <% } %></br>
    <a href="/">Back</a>
    </body>
</html>