<!DOCTYPE html>
<html lang="en">
    <head>
        <title>New Rabbit</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <form action="/rabbits" method="post">
            Rabbit name: <input type="text" name="name"></br>
            Rabbit color: <input type="text" name="color"></br>
            Rabbit picture: <input type="text" name="pic"></br>
            <input type="submit" value="Create">
        </form>
    </body>
</html>