<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Add a new user</h1>
        <form method="POST" action="/users/create">
            {% csrf_token %}
            <p>First name</p>
            <input type="text" name="first_name" value="">
            <p>Last name</p>
            <input type="text" name="last_name" value="">
            <p>Email</p>
            <input type="text" name="email" value="">
            <input type="submit" name="" value="Create">
        </form>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <a href="{% url 'index' %}">Home</a>
    </body>
</html>