<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/main.css">
    <title>Projects</title>
</head>
<body>
    @Html.Partial("~/Views/Partials/nav.cshtml")
    <h2>Projects i worked on:</h2>
    <div class="project">
        <h4>Project Cat</h4>
        <img src="~/img/cat.jpg" alt="cat picture">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non arcu tellus. Vestibulum mollis neque libero, sed eleifend enim facilisis vitae. Praesent lobortis venenatis magna sed molestie. Etiam volutpat sollicitudin leo, non consequat ligula convallis eu. Nullam vel velit faucibus nunc luctus auctor. Nulla pellentesque nisi quis ante mattis rutrum. Ut non hendrerit justo. Cras a urna eleifend urna feugiat tempus ac sit amet diam. Sed tellus ante, pretium ac arcu in, condimentum rutrum libero. Aliquam a luctus libero, eu venenatis mi. Morbi aliquam nisl in aliquet pretium. Pellentesque egestas nisi a vulputate aliquet.</p>
    </div>
    <div class="project">
        <h4>Project Dog</h4>
        <img src="~/img/dog.jpg" alt="cat picture">
        <p>Pellentesque luctus nisi ante, et pharetra nisl vulputate nec. Nam rutrum a leo sit amet molestie. Nunc porttitor orci id scelerisque semper. Sed vulputate, tortor sit amet faucibus interdum, magna velit laoreet nisl, eget hendrerit justo enim et diam. Praesent pretium mattis est, et laoreet justo tempus et. Duis rhoncus felis dui, eget congue neque iaculis sit amet. Mauris mattis sapien nec imperdiet interdum. Nullam ut egestas nunc. Donec quis congue augue. Cras porta, odio quis dapibus tristique, diam arcu commodo quam, non tristique diam dui eget libero. Maecenas orci nibh, hendrerit quis vehicula sit amet, malesuada id ante. Cras hendrerit a lorem at sodales. Vivamus vitae sapien eu purus aliquam ornare. Cras erat sapien, sollicitudin semper turpis a, sagittis mattis nisl. Nulla varius dignissim blandit.</p>
    </div>
    <div class="project">
        <h4>Project Bear</h4>
        <img src="~/img/bear.jpg" alt="cat picture">
        <p>Nulla pretium magna eget dui fringilla sodales. Nunc eleifend metus quis tellus consequat rutrum ac at lectus. Nulla condimentum fermentum tortor, ut pretium tortor dapibus ut. Suspendisse volutpat ultrices velit, a elementum eros pellentesque vel. Nulla tincidunt elit nec nulla mollis, vitae condimentum nibh ultricies. Fusce pretium odio et neque gravida porta non in elit. Fusce non eros in est ultricies molestie. Ut urna augue, gravida id vehicula ut, venenatis nec ipsum. Suspendisse sed velit tincidunt, consectetur nisi quis, semper lorem.</p>
    </div>
</body>
</html>