<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/main.css">
    <title>Home</title>
</head>
<body>
    @Html.Partial("~/Views/Partials/nav.cshtml")
    <h1>Alex</h1>
    <img src="~/img/avatar.png" alt="profile image">
    <h4>About me:</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a urna ornare, sodales urna sit amet, suscipit metus. Pellentesque nec orci quis magna fermentum tristique. Maecenas vitae lectus ipsum. Proin facilisis purus in ex condimentum pellentesque. Nam condimentum, elit ut elementum pellentesque, nibh lectus pulvinar dolor, sed egestas ipsum ligula at mi. Vivamus vel laoreet dui. Etiam hendrerit posuere tincidunt.</p>
</body>
</html>