<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Amadon Checkout</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link href="{% static 'amadon_app/css/master.css' %}" rel="stylesheet">
    </head>
    <body>
        <h2>Thank you for your business!</h2>
        <main>
            <p>We charged your credit card for {{ request.session.last_price }}</p>
            <p>You have ordered {{ request.session.total_orders }} items so far and spent {{ request.session.total_spend }} with Amadon.com!</p>
        </main>
    </body>
</html>