.ninjas, .registration, .dojos {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    padding: 3%;
    margin: 1%;
}

.registration {
    border-left: thick solid black;
}

.error {
    display: block;
    color: red;
}

.input-field {
    margin: 1%;
}