<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/js/script.js"></script>
    <title>Random Passcode Generator</title>
</head>
<body>
    <p>Random passcode (passcode #<span id="gen_count">0</span>)</p>
    <input type="text" id="passcode" readonly="readonly"></div>
    <button id="generate-btn">Generate</button>
</body>
</html>