<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Welcome to QuotingDojo</h1>
        <form action="/quotes" method="post">
            Your name: <input type="text" name="name"></br>
            Your quote: <textarea name="quote" cols="30" rows="10"></textarea></br>
            <input type="submit" value="Add my quote!">
        </form><button id="skip_quote" onclick="location.href='/quotes';">Skip to quotes!</button>
    </body>
</html>