<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h2>Here are the awesome quotes!</h2>
        <% for (let idx in quotes) { %>
        <p>"<%= quotes[idx].quote %>"</p>
        <% var hours = quotes[idx].createdAt.getHours() %>
        <% hours >= 12 ? hours += 'pm' : hours += 'am' %>
        <p>&emsp;— <%= quotes[idx].name %> at <%= hours %> <%= quotes[idx].createdAt.toDateString() %></p>
        <hr>
        <% } %>
    </body>
</html>